@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables de colores */
:root{
    --color1: #f1d170;
    --color2: #f1e193;
    --color3: #122477;
    --color4: #1d74bb;
    --color5: #8adbe5;
}
/* Minima normalizacion para empezar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.error{
    color: rgb(136, 4, 4);
    font-weight: 600;
}

.realizado{
    color: rgb(1, 97, 1);
    font-weight: 600;
}

/* Estilos para la navegacion */
.navegacion{
    padding: 1rem;
    background: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion-contenido{
    display: flex;
    gap: 1.3rem;
}

.navegacion-contenido > a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.3rem;
    border-bottom: 1px solid transparent;
    display: inline-block;
    padding: 0.5rem 0rem;
    transition: border 0.7s, padding 0.3s, font-weight 0.2s, color 0.3s ease-in-out;
}

.navegacion-contenido > a:hover{
    border-bottom: 1px solid #bbd2c5;
    color: var(--color1);
    font-weight: 700;
    padding: 0.5rem 1.4rem;
}
/* Fin de los estilos para la navegacion */


/* Estilos para el modal */

.fondo-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.445);
    transition: opacity 0.8s ease-in-out;
}

.modal{
    padding: 2rem 4rem;
    background-color: white;
    color: var(--color4);
    width: 75%;
    border-radius: 3rem;
    text-align: center;
    z-index: 3;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}

.modal h2{
    font-size: 1.8rem;
}

.abrir-modal{
    animation: mostrar 0.3s ease-in-out forwards;
}

.cerrar-modal{
    animation: ocultar 0.3s ease-in-out forwards;
}

@keyframes mostrar {
    0%{
        opacity: 0;
        left: 100%;
    }
    100%{
        opacity: 1;
        left: 0%;
    }
}

@keyframes ocultar {
    0%{
        opacity: 1;
        left: 0%;
    }
    100%{
        opacity: 0;
        left: 100%;
    }
}