
/* Convirtiendo al padre en relative */

.contenedor-info{
    position: relative;
}

/* Estilos para la flecha volver */

.info-volver{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color2);
    text-decoration: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s ease-in-out;
}

.info-volver p, .info-volver i{
    font-weight: bold;
}

.info-volver p{
    font-size: 1.15rem;
    transition: color 0.6s ease-in-out;
}

.info-volver:hover > p{
    color: var(--color5);
}

.info-volver:hover{
    border-bottom: 1px solid var(--color2);
}

.linea{
    display: flex;
    flex-direction: row;
}

.linea > button{
    width: 50%;
}

.borrar{
    background-color: rgb(206, 61, 61);
    color: var(--color2);
}

.borrar:hover{
    color: rgb(206, 61, 61);
    background-color: var(--color2);
}
