.banner{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#252525b6 0%, rgba(0, 0, 0, 0.603) 100%), url(../img/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aqua;
}

.bienvenida{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: var(--color5);
}

.contenedor-general{
    width: 85%;
    margin: auto;
}

.titulo{
    font-size: 2.5rem;
    text-align: center;
}

.contenido{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 1.3rem;
    justify-content: center;
    margin: 1.5rem 0;
}

.contenido-img{
    width: 50%;
}

.contenido-texto{
    width: 50%;
    font-size: 1.4rem;
}

.contenido-img img{
    object-fit: cover;
    width: 100%;
    object-position: center;
}

@media (max-width: 900px) {
    .contenido{
        flex-direction: column;
        align-items: center;
    }

    .contenido div{
        width: 100%;
    }
}